body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Rubik";
  position: fixed;
}

:root{
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGrey: hsl(0, 0%, 59%);
}

header{
  background-image: url(images/pattern-bg-desktop.png);
  margin: auto;
  padding: 0;
  position: relative;
  bottom: 2rem;
  height: 17rem;
  text-align: center;
  color: white;
}

header h1 {
  padding-top: 2rem;
}

#inputForm {
  margin: 1rem auto;
  height: 3rem;
  display:inline-flex;
}

#ipAddress{
  border: none;
  height: 3rem;
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
  width: 30rem;
  padding-left: 1rem;
}


#submitIP{
  border: none;
  height: 3.15rem;
  width: 3rem;
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
  background-image: url(images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--veryDarkGray);
  color: white;
}

#values{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  position: relative;
  bottom: 6rem;
  width: 70%;
  padding: 1.5rem;
  border:none;
  background-color: white;
  border-radius: 1rem;
  margin: 0 auto;
  z-index: 500;
}

.grid_item {
  margin: .5rem;
  border-right: 1px solid var(--darkGrey);
  height: 5rem;
  padding-left: 1rem;
}

.grid_item p{
  color: var(--darkGrey);
  position: relative;
  bottom: 1.5rem;
}

.grid_item h2{
  color: var(--veryDarkGray);
  font-weight: 500;
  position: relative;
  bottom: 2.5rem;
}

#last_grid_item{
  border-right: none;
}

footer{
  margin: 0 auto;
  position: fixed;
  color: var(--darkGrey);
  font-size: .8rem;
  bottom: .5rem;
  left: .5rem;
  z-index: 500;
}

footer a{
  color: var(--veryDarkGray);
}

#map {
  height: 33rem;
  z-index: 0.5;
  position: relative;
  bottom: 11rem;
}

@media screen and (max-width: 600px) {
  #values{
    display: flex;
    flex-direction: column;
    height: 12rem;
    width: 68%;
    justify-content: center;
    position: relative;
    bottom: 9.5rem;
  }

  .grid_item {
    border: none;
    text-align: center;
  }

  #first_grid_item{
    position: relative;
    top: 6rem;
  }

  #second_grid_item{
    position: relative;
    top: 3rem;
  }

  #third_grid_item{
    position: relative;
    top: .5rem;
  }

  #last_grid_item{
    position: relative;
    bottom: 2.5rem;
  }

  .grid_item p{
    color: var(--darkGrey);
    font-size: .6rem;
  }

  .grid_item h2{
    font-size: 1rem;
    margin-top: 0rem;
  }

  #inputForm{
    width: 79%;
    height: 2.5rem;
  }

  #ipAddress{
    border: none;
    height: 2.5rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    width: 30rem;
    padding-left: 1rem;
  }


  #submitIP{
    height: 2.5rem;
  }


  #map{
    height: 34rem;
    position: relative;
    bottom: 20.5rem;
  }

  h1{
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    top: .8rem;
  }

  footer{
    font-size: .7rem;
  }
}

@media only screen and (max-width: 992px) {
  .grid_item p{
    color: var(--darkGrey);
    font-size: 1rem;
  }

  .grid_item h2{
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .grid_item p{
    color: var(--darkGrey);
    font-size: .8rem;
  }

  .grid_item h2{
    font-size: 1rem;
  }
}
