body {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Rubik";
  position: fixed;
}

:root{
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGrey: hsl(0, 0%, 59%);
}

header{
  background-image: url(images/pattern-bg-desktop.png);
  margin: auto;
  padding: 0;
  position: relative;
  bottom: 2rem;
  height: 16rem;
  text-align: center;
  color: white;
}

header h1 {
  padding-top: 2rem;
}

#inputForm {
  margin: 2rem auto;
  height: 3rem;
  display:inline-flex;
}

#ipAddress{
  border: none;
  height: 3rem;
  border-top-left-radius: .8rem;
  border-bottom-left-radius: .8rem;
  width: 30rem;
  padding-left: 1rem;
}


#submitIP{
  border: none;
  height: 3.15rem;
  width: 3rem;
  border-top-right-radius: .8rem;
  border-bottom-right-radius: .8rem;
  background-image: url(images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--veryDarkGray);
  color: white;
}
